@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&family=Courgette&family=Libre+Baskerville&display=swap');

*{
    margin: 0;
    padding: 0;
}



.blocks{
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
.right-side{
    display: flex;
    flex-direction: column;
    flex-basis: 75%;
}
.left-side{
    display: flex;
    flex-direction: column;
    flex-basis: 22%;
}
.middle{
    display: flex;
    flex-direction: column;
    flex-basis: 3%;
}

.header-block{
    background: #88b0ba;
    flex-basis: 15hv;
}
.logo1{
    font-family: "Courgette";
    font-size: 30pt;
    float: right;
    padding: 2%;
    padding-right: 5%;
}

.main-block{
    background: #b6c9cf;
    flex-basis: 70vh;
    padding: 2%;
    padding-top: 3px;
}

.dropbtn {
    background-color: #479caf;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 193px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content option {
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content option:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #337888;
}

.SaveButton, .textButton0, .textButton1, .textButton2, .textButton3, .textButton4{
    background-color:white;
    border: 2px solid #337888;
    color: #1d3b42;
    padding: 14px 35px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 7px 8px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.SaveButton:hover {
    background-color: #5b96a3;
    color: #c6e8f0;
  }
.textButton0:hover {
    background-color: #5b96a3;
    color: white;
  }
.textButton1:hover {
    background-color: #5b96a3;
    color: white;
  }
.textButton2:hover {
    background-color: #5b96a3;
    color: white;
  }
.textButton3:hover {
    background-color: #5b96a3;
    color: white;
  }
.textButton4:hover {
    background-color: #5b96a3;
    color: white;
  }

  input[type=text] {
    width: 40%;
    padding: 10px 7px;
    margin: 2px 0;
    box-sizing: border-box;
    font-size: 16px;
    border: 2px solid #337888;
  }

.executeButton{
    background-color: #479caf;
    color: white;
    padding: 14px 18px;
    margin-bottom: 16px;
    font-size: 16px;
    border: 2px solid #337888;
    cursor: pointer;
}

.notificationBlock0, .notificationBlock1, .notificationBlock2, .notificationBlock3, .notificationBlock4 {
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 4px;
    display: inline-block;
    font-size: 18px;
    background-color:  #5b96a3;
    opacity: 0;
    animation: ani 2s forwards;
}

@keyframes ani {
  0% {opacity: 0;}
  100% {opacity: 1;}
}


.main-text-first{
    font-family: "Libre Baskerville";
    font-size: 14pt;
    padding-bottom: 3%;
}
.main-text-second{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 3%;
    padding-top: 3%;
}
.main-text-third{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 5%;
    padding-top: 5%;
}
.main-text-fourth{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 5%;
    padding-top: 5%;
}
.main-text-fifth{
    font-family: "Libre Baskerville";
    font-size: 18pt;
    padding-left: 5%;
    padding-top: 5%;
}
.some-list{
    font-family: "Libre Baskerville";
    font-size: 14pt;
    padding-left: 5%;
    padding-top: 2%;
}
.dog-img{
       /* height: 504px;*/
        width: 490px;
        max-width: 100%;
        height: auto;
}

.footer-block{
    background: #88b0ba;
    display: flex;
    flex-direction: row;
    flex-basis: 15hv;
}
.logo2{
    font-family: "Courgette";
    font-size: 30pt;
    padding-left: 4%;
    padding-top: 2%;
    padding-bottom: 2%;
    flex-grow: 6;
}
.text-in-footer{
    background: #88b0ba;
    font-family: Play;
    font-size: 12px;
    padding: 2%;
    padding-top: 3%;
    flex-grow: 1;
}

.menu-block{
    flex-grow: 7;
    position: fixed;
    background: #eadbff;
    top: 0;
    min-height: 88%;
    width: 22%;
    left: 78%;
    flex-grow: 6;
    list-style: none;
}
.menu-block a{
    text-decoration: none;
    outline: none;
    display: block;
    font-family: "Play";
    font-size: 14pt;
    padding: 12px;
    letter-spacing: 1px;
    padding-left: 10%;
    padding-top: 10%;
    padding-bottom: 10%;
}
.menu-block a:hover {
    background-color: #d8bdff;
}

.info-block{
    position: fixed;
    top: 88%;
    width: 22%;
    left: 78%;
    bottom: 0;
    
    background: #ad88d1;
    font-family: Play;
    font-size: 14px;
    padding-left: 1%;
    padding-top: 0.5%;
}



